.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.loading__page {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    text-align: center;
    margin: 25% auto;
    vertical-align: center;
}

#api__logo {
    z-index: -5;
    position: fixed;
    bottom: 1rem;
    right: 2rem;
}
