.central__content {
    height: 100%;
}

.central__content--container {
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-areas:
        "5__day__forecast"
        "today";
    grid-template-rows:
        var(--forecast__bar--height)
        auto;
}

.today__container {
    height: inherit;
    overflow-y: auto;
}

@media only screen and (max-width: 425px) {
    .central__content--container {
        grid-template-rows:
            var(--forecast__bar--height-mobile)
            auto;
    }
}
