.day__stats {
    width: 100%;
    background-image: -webkit-linear-gradient(
        -90deg,
        var(--day__stats__color_1) 0,
        var(--day__stats__color_2) 100%
    );
    background-image: -moz-linear-gradient(
        180deg,
        var(--day__stats__color_1) 0,
        var(--day__stats__color_2) 100%
    );
    background-image: linear-gradient(
        180deg,
        var(--day__stats__color_1) 0,
        var(--day__stats__color_2) 100%
    );
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
}

.day__stats.dark__mode {
    background-image: -webkit-linear-gradient(
        -90deg,
        var(--day__stats__color_1--dark__mode) 0,
        var(--day__stats__color_2--dark__mode) 100%
    );
    background-image: -moz-linear-gradient(
        180deg,
        var(--day__stats__color_1--dark__mode) 0,
        var(--day__stats__color_2--dark__mode) 100%
    );
    background-image: linear-gradient(
        180deg,
        var(--day__stats__color_1--dark__mode) 0,
        var(--day__stats__color_2--dark__mode) 100%
    );
}

.day__stats__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
    width: 80%;
    margin: auto;
}

.day__stat__row {
    width: 100%;
    margin: 0.2rem 0;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid rgb(236, 236, 236);
}

.day__stat__row:last-child {
    border-bottom: none;
    margin-bottom: none;
}

.day__stat {
    margin: 0.2rem 0;
}

.day__stat:first-child {
    flex-grow: 1;
}

.day__stat:last-child {
    text-align: right;
}

.stat__name {
    color: rgb(46, 46, 46);
    font-size: 0.8rem;
    padding-bottom: 0.1rem;
}

.stat__value {
    font-size: 1rem;
    padding-bottom: 0.1rem;
}
