.five__day__forecast__bar {
    background-image: -webkit-linear-gradient(
        -29.744881296942225deg,
        var(--forecast__bar--background__color_1) 0,
        var(--forecast__bar--background__color_2) 100%
    );
    background-image: -moz-linear-gradient(
        119.74488129694222deg,
        var(--forecast__bar--background__color_1) 0,
        var(--forecast__bar--background__color_2) 100%
    );
    background-image: linear-gradient(
        119.74488129694222deg,
        var(--forecast__bar--background__color_1) 0,
        var(--forecast__bar--background__color_2) 100%
    );
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
}

.five__day__forecast__bar.dark__mode {
    background-image: -webkit-linear-gradient(
        -29.744881296942225deg,
        var(--forecast__bar--background__color_1--dark__mode) 0,
        var(--forecast__bar--background__color_2--dark__mode) 100%
    );
    background-image: -moz-linear-gradient(
        119.74488129694222deg,
        var(--forecast__bar--background__color_1--dark__mode) 0,
        var(--forecast__bar--background__color_2--dark__mode) 100%
    );
    background-image: linear-gradient(
        119.74488129694222deg,
        var(--forecast__bar--background__color_1--dark__mode) 0,
        var(--forecast__bar--background__color_2--dark__mode) 100%
    );
}

.five__day__forecast__bar--container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forecast__bar__item {
    padding: 1rem 0.5rem;
    font-size: 0.8rem;
}

.forecast__bar__item--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forecast__bar__item--container img {
    width: 40px;
    height: 40px;
}

.forecast__bar__item--container span {
    margin: 0.2em;
}
