.hourly__forecast {
    width: 100%;
    background-color: var(--hourly__forecast--background__color);
    color: rgb(255, 255, 255);
}

.hourly__forecast.dark__mode {
    color: white;
    background-color: var(--hourly__forecast--background__color--dark__mode);
}

.hourly__forecast--header {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.hourly__forecast__list {
    width: 80%;
    margin: auto;
}

.forecast__hour {
    padding: 0.5rem 0;
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.486);
    font-size: 1.2rem;
}

.forecast__hour.dark__mode {
    border-bottom: 1px solid #808080;
}

.forecast__hour:last-child {
    border-bottom: none;
}

.forecast__hour--item:first-child {
    flex-grow: 1;
}

.forecast__hour--item {
    padding: 0 0;
}
