:root {
    /* Sizing */
    --main__tile--height: 600px;
    --main__tile--width: 400px;
    --main__tile_current__weather--height: 200px;
    --main__tile--border__radius: 2rem;
    --options__bar--height: 40px;
    --central__content--height: 360px;
    --menu__search__bar--height: 40px;
    --menu__search__box--width: 200px;
    --menu__search__drop__down--max__height: 250px;

    /* colors */
    --text__box--highlight__color: rgb(212, 212, 212);
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Archivo", sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#root {
    height: 100%;
}

.app {
    height: 100%;
}

ul {
    padding: 0;
    list-style: none;
}

/* Defines what a temperature should look like */
.temp {
}

.temp:after {
    content: "°";
}
