:root {
    /* Sizing ------------------------------------- */
    --main__tile--height: 600px;
    --main__tile--width: 400px;
    --main__tile--border__radius: 2rem;

    --main__tile_current__weather--height: 170px;
    --options__bar--height: 40px;
    --central__content--height: calc(
        var(--main__tile--height) - var(--main__tile_current__weather--height) -
            var(--options__bar--height)
    );

    --forecast__bar--height: 100px;
    --hourly__forecast--height: 260px;
    --menu__search__bar--height: 50px;
    --menu__search__box--width: 200px;
    --menu__search__drop__down--max__height: 250px;

    /* colors -- normal*/
    --text__box--highlight__color: #d4d4d4;
    --central__weather__tile--background_1: rgba(95, 156, 232, 1);
    --central__weather__tile--background_2: rgba(95, 156, 232, 1);
    --central__weather__tile--background_3: rgba(189, 226, 252, 1);
    --forecast__bar--background__color_1: rgba(232, 237, 242, 1);
    --forecast__bar--background__color_2: rgba(244, 246, 247, 1);
    --hourly__forecast--background__color: rgb(142, 193, 230);
    --menu__background__color_1: rgba(168, 199, 234, 1);
    --menu__background__color_2: rgba(168, 199, 234, 1);
    --menu__background__color_3: rgba(130, 151, 175, 1);
    --options__bar__color_1: rgba(201, 218, 234, 1);
    --options__bar__color_2: rgba(113, 138, 158, 1);
    --day__stats__color_1: rgb(202, 222, 238);
    --day__stats__color_2: rgb(132, 152, 165);

    /* colors -- darkmode */
    --text__box--highlight__color--dark__mode: #d4d4d4;
    --central__weather__tile--background_1--dark__mode: rgba(35, 35, 35, 1);
    --central__weather__tile--background_2--dark__mode: rgba(56, 56, 56, 1);
    --central__weather__tile--background_3--dark__mode: rgba(85, 86, 86, 1);
    --forecast__bar--background__color_1--dark__mode: rgb(218, 218, 218);
    --forecast__bar--background__color_2--dark__mode: rgb(200, 198, 198);
    --hourly__forecast--background__color--dark__mode: #414040;
    --menu__background__color_1--dark__mode: rgba(100, 101, 102, 1);
    --menu__background__color_2--dark__mode: rgba(168, 199, 234, 1);
    --menu__background__color_3--dark__mode: rgba(40, 40, 40, 1);
    --options__bar__color_1--dark__mode: rgba(132, 132, 132, 1);
    --options__bar__color_2--dark__mode: rgba(61, 58, 58, 1);
    --day__stats__color_1--dark__mode: rgba(193, 193, 193, 1);
    --day__stats__color_2--dark__mode: rgba(127, 127, 127, 1);
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Archivo", sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#root {
    height: 100%;
}

.app {
    height: 100%;
}

ul {
    padding: 0;
    list-style: none;
}

/* Defines what a temperature should look like */
.temp {
}

.temp:after {
    content: "°";
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #888;
    border: 2px solid #f1f1f1;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
