.menu {
    height: var(--central__content--height);
    background: -webkit-linear-gradient(
        -90deg,
        var(--menu__background__color_1) 0,
        var(--menu__background__color_2) 1%,
        var(--menu__background__color_3) 100%
    );
    background: -moz-linear-gradient(
        180deg,
        var(--menu__background__color_1) 0,
        var(--menu__background__color_2) 1%,
        var(--menu__background__color_3) 100%
    );
    background: linear-gradient(
        180deg,
        var(--menu__background__color_1) 0,
        var(--menu__background__color_2) 1%,
        var(--menu__background__color_3) 100%
    );
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
}

.menu.dark__mode {
    background: -webkit-linear-gradient(
        -90deg,
        var(--menu__background__color_1--dark__mode) 0,
        /* var(--menu__background__color_2--dark__mode) 1%, */
            var(--menu__background__color_3--dark__mode) 100%
    );
    background: -moz-linear-gradient(
        180deg,
        var(--menu__background__color_1--dark__mode) 0,
        /* var(--menu__background__color_2--dark__mode) 1%, */
            var(--menu__background__color_3--dark__mode) 100%
    );
    background: linear-gradient(
        180deg,
        var(--menu__background__color_1--dark__mode) 0,
        /* var(--menu__background__color_2--dark__mode) 1%, */
            var(--menu__background__color_3--dark__mode) 100%
    );
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.menu__search__bar {
    height: var(--menu__search__bar--height);
    padding: 0.4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.menu__search__bar--container {
    width: var(--menu__search__box--width);
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu__search__box {
    width: inherit;
}

.search__drop__down--wrapper {
    background-color: white;
    z-index: 5;
    box-sizing: border-box;
    width: var(--menu__search__box--width);
    max-height: var(--menu__search__drop__down--max__height);
    overflow-y: auto;
    overflow-x: hidden;
}

.menu__drop__down__box {
    background-color: white;
    margin: 1px;
    border-bottom: 1px solid grey;
}

.menu__drop__down__box:last-child {
    border-bottom: none;
}

.menu__drop__down__box:hover {
    background-color: var(--text__box--highlight__color);
    cursor: pointer;
}

.menu__drop__down__box--container {
    width: inherit;
    color: black;
    margin: 2px;
}

.menu__drop__down__box--location__name {
}

.menu__drop__down__box--location__country {
}

/* Settings */
.settings {
    width: 100%;
}

.settings__container {
}

.settings__list {
    overflow-y: hidden scroll;
    width: 90%;
    margin: 0 auto;
}

.settings__list--item {
    background-color: rgba(244, 246, 247, 1);
    padding: 0.5rem 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.settings__list--item:last-child {
    border-bottom: none;
}

.settings__list--item p {
    flex-grow: 1;
}

/* Settings toggle switch */

.settings__toggle {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 1rem;
}

.settings__toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.settings__toggle--slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 1rem;
}

.settings__toggle--slider:before {
    position: absolute;
    content: "";
    height: 0.8rem;
    width: 0.8rem;
    left: 0.1rem;
    bottom: 0.1rem;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .settings__toggle--slider {
    background-color: #2196f3;
}

input:checked + .settings__toggle--slider.dark__mode {
    background-color: #1c1d1d;
}

input:checked + .settings__toggle--slider:before {
    -webkit-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    transform: translateX(1rem);
}

/* --------------------------------------------------- */
