.options__bar {
    grid-area: options__bar;
    z-index: 5;
    height: var(--options__bar--height);
    background: -webkit-linear-gradient(
            -90deg,
            var(--options__bar__color_1) 0,
            var(--options__bar__color_2) 100%
        ),
        #0199d9;
    background: -moz-linear-gradient(
            180deg,
            var(--options__bar__color_1) 0,
            var(--options__bar__color_2) 100%
        ),
        #0199d9;
    background: linear-gradient(
            180deg,
            var(--options__bar__color_1) 0,
            var(--options__bar__color_2) 100%
        ),
        #0199d9;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    border-radius: 0 0 var(--main__tile--border__radius)
        var(--main__tile--border__radius);
}

.options__bar.dark__mode {
    background: -webkit-linear-gradient(
            -90deg,
            var(--options__bar__color_1--dark__mode) 0,
            var(--options__bar__color_2--dark__mode) 100%
        ),
        #0199d9;
    background: -moz-linear-gradient(
            180deg,
            var(--options__bar__color_1--dark__mode) 0,
            var(--options__bar__color_2--dark__mode) 100%
        ),
        #0199d9;
    background: linear-gradient(
            180deg,
            var(--options__bar__color_1--dark__mode) 0,
            var(--options__bar__color_2--dark__mode) 100%
        ),
        #0199d9;
}

.options__bar--container {
    height: var(--options__bar--height);
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options__bar--menu__button {
    vertical-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 30px;
    margin: 0;
    padding: 0;
}

.options__bar--menu__button span {
    width: 80%;
    height: 2px;
    display: inline-block;
    background-color: grey;
    margin: 1px 0;
}
